@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--offblack: #1C1D20;
	--offwhite: #EFEFEF;
	--mint: rgb(36, 251, 202);
	--blue: rgb(40, 194, 255);
}

body {
	margin: 0;
	background-color: var(--offblack) !important;
	color: var(--offwhite) !important;
}

#svelte{
	height: 100vh;
	width: 100vw;
}

.bg-white{
	color: var(--offwhite);
}
.bg-black{
	color: var(--offblack);
}

.text-white{
	color: var(--offwhite);
}
.text-black{
	color: var(--offblack);
}

.btn-primary{
	background-color: var(--blue) !important;
	border-color: var(--blue) !important;
}

.btn-primary:hover{
	filter: saturate(150%);
}